/*
#cv-form{
     display:none; 
}
*/
#cv-template{
    display:none;
}
.myimg{
    border:1px solid black;
    border-radius: 50%;
    width: 200px;   
}
.background{
    background-color:rgba(147, 141, 126, 0.224);
}   
body{
    background-color:#d6dcc5;
}
.ab{
    background-color: #acbb90;
}
.form-control{
    display: block;
    width: 100%; /* THIS */
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555; /* THIS */
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc; /* THIS */
    border-radius: 4px; /* THIS */
  }